<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd 
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd 
       http://www.springframework.org/schema/tx
      http://www.springframework.org/schema/tx/spring-tx.xsd">

<!--  database properties DataSource -->
<!--  create a beans using  bean tab - spring web flow 
<bean id="cartDaoImpl" class="com.spring.dao.CartDaoImpl">
<property name="sessionFactory" ref="sessionFactory"></property>
<property name="customerOrderService" ref="customerOrderService"/>
</bean>

<bean id="customerOrderService" class="com.spring.service.CustomerOrderService">
<property name="customerOrderDao" ref="customerOrderDao"/>
<property name="cartService" ref="cartService"/>
</bean>


<bean id="customerOrderDao" class="com.spring.dao.CustomerOrderDaoImpl">
<property name="sessionFactory" ref="sessionFactory"/>
</bean>


<bean id="cartService" class="com.spring.service.CartServiceImpl">
<property name="cartDao" ref="cartDaoImpl"/>
</bean>

-->




<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.h2.Driver" />
        <property name="url" value="jdbc:h2:tcp://localhost/~/mydb" />
        <property name="username" value="sa"/>
        <property name="password" value="" />
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" >
        <property name="dataSource" ref="dataSource"></property>
        <property name="hibernateProperties" >
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>             
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
            </props>
        </property>
        <property name="annotatedClasses"><!--  Entities -->
            <list>
                <value>com.june.model.Customer</value>
                <value>com.june.model.Product</value>
             
            </list>
        </property>
        
    </bean>
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <!--  adding the security to the URL -->
    <!--  /index.jsp -->
    <!--  http://localhost:8080/.../home -->
    <!--  http://...../getAllBooks -->
    <!--  http://..../admin/book/add -->
    
    
 
</beans>